.form-content {
    min-width: min(95%, 31em);
    background-color: var(--clr-header);
    border: 1px solid var(---clr-bg-bod);
    border-radius: 5px;
}

.form-logo {
    background-color: var(--clr-bg-header);
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}

.form-logo h1 {
    color: var(--clr-header);
    line-height: 1;
    font-size: clamp(2rem, 2rem  + 4vw, 4rem);
    font-weight: 500;
}

.form-title h2 {
    text-align: center;
    font-weight: 400;
}

.form-element {
    padding-block-start: 3rem;
}

.form-element label {
    display: block;
    padding-block-end: 0.5em;
}

.form-element input {
    width: 100%;
    padding: 1.25rem;
    font-size: var(--fs-400);
    border-radius: 5px;
    border: 1px solid var(--clr-bg-body)
}

.form-element:last-of-type {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
}

.form-element button {
    min-width: 45%;
    padding-block: 1rem;
    font-size: var(--fs-500);
    font-weight: 500;
    color: var(--clr-header);
    background-color: var(--clr-primary);
    border-radius: 5px;
}

.form-element .link {
    display: inline-block;
    min-width: 45%;
    padding-block: 5px;
    text-align: center;
}

@media screen and (width >= 26em) {
    .form-element label {
        font-size: var(--fs-500);
    }

    .form-element input {
        font-size: var(--fs-600);
    }

    .form-element button {
        font-size: var(--fs-600);
    }

    .form-element .link {
        align-self: center;
    }

    .form-element:last-of-type {
        flex-direction: row;
        justify-content: space-between;
    }
}





