:root {
    /* site colors */
    --clr-primary: #ee6352;
    --clr-header: rgb(243, 242, 242);
    --clr-body: #333;
    --clr-bg-body: #ddd;
    --clr-bg-header: #252525;
    --clr-light-border: rgba(243, 242, 242, 0.6);

    /* font sizes */
    --fs-xl: clamp(2rem, 1vw + 2rem, 2.5rem);
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.5rem;
    --fs-300: 1.25;
    --fs-100: 1rem;
    
    /* size */
    --size-1: 1em;
    --size-2: 2em;
    --size-3: 3em;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-400);
    line-height: 1.5;
    color: var(--clr-body);
}

.background {
    min-height: 100vh;
    background-color: var(--clr-bg-body);
    min-width: 12em;
}

.container {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-inline-start: min(4vw, 2rem);
    background-color: var(--clr-bg-header);
    color: var(--clr-header);
    display: none;
}

.navbar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4em; 
}

.logo {
    text-transform: uppercase;
    padding: min(.4rem + 2vw, .5rem) min(.2rem + 3vw, 1.2rem);
    line-height: 1;
    letter-spacing: .1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(1.5rem, .7rem + 2vw, 2rem);
    color: var(--clr-primary);
    border: 3px solid var(--clr-header);
    transition: color 0.2s ease, border-color 0.2s ease;
    cursor: pointer;
    /* border-radius: 3px; */
}

/* .content {
    background-color: #fff;
    padding: min(5%, 2rem);
    width: min(36em, 80%);
} */

/* .content h2 {
    color: var(--clr-primary);
    font-size: clamp(2rem, 1rem + 4vw, 3rem);
    font-weight: bold;
}

.content p {
    font-size: clamp(1rem, .5rem + 1.5vw, 1.2rem);
} */

/* Navigation */
nav {
    position: fixed;
    top: 4em;
    right: 0;
    width: 0;
    height: 90vh;
    z-index: 75;
    background-color: var(--clr-header);
    transition: width 0.3s ease-in-out;
}

nav ul {
    background-color: var(--clr-header);
}

nav li {
    margin-top: 2px;
}

nav li:nth-of-type(1) {
    margin: 0;
}

nav a {
    display: block;
    color: var(--clr-bg-header);
    width: 100%;
    padding: 0.6em 1em;
    font-size: 1.5em;
    font-weight: 600;
    border-bottom: 1px solid #c9c1c1;
    opacity: 0;
    transition-property: opacity;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out; 
}

nav li:nth-of-type(1) a {
    border-top: 1px solid #c9c1c1;
}

#mobile-nav {
    display: none;
}

.mobile-nav-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    width: 4em;
    cursor: pointer;
    background-color: var(--clr-bg-header);
    transition: background-color 1s ease;
}

.mobile-nav-label span,
.mobile-nav-label::before,
.mobile-nav-label::after {
    width: 2em;
    height: 3px;
    border-radius: 10px;
    background-color: var(--clr-header);
    transition: all 0.6s ease;
}

.mobile-nav-label::before,
.mobile-nav-label::after {
    content: '';
    position: absolute;
}

.mobile-nav-label::before {
    top: 21px;
}

.mobile-nav-label::after {
    bottom: 21px;
}

header:has(input:checked) .mobile-nav-label::before {
    transform: rotate(-45deg) translate(-5px, 8px);
    background-color: var(--clr-bg-header);
}

header:has(input:checked) .mobile-nav-label::after {
    transform: rotate(45deg) translate(-5px, -8px);
    background-color: var(--clr-bg-header);
}

header:has(input:checked) .mobile-nav-label span {
    opacity: 0;
}

header:has(input:checked) .mobile-nav-label {
    background-color: var(--clr-header);   
}

header:has(input:checked) nav {
    width: 98%;
}

header:has(input:checked) nav a {
    opacity: 1;
}

@media screen and (width <= 25em) {
    body {
        min-width: 20em;
    }
}

@media screen and (width >= 40rem) {
    .mobile-nav-label {
        display: none;
    }

    .main-header {
        padding: 0 min(4vw, 2rem);
    }

    .logo:hover {
        color: var(--clr-header);
        background-color: var(--clr-primary);
        /* border-color: var(--clr-primary); */
    }

    nav {
        position: static;
        width: 60%;
        height: inherit;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: var(--clr-bg-header);
    }

    nav li::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: var(--clr-header);
        transition: width .2s;
    }

    nav li:hover::after {
        width: 100%;
    }

    nav a {
        opacity: 1;
        /* font-size: clamp(1.1rem, 2vw, 1.5rem); */
        font-size: clamp(1rem, .5rem + 1.5vw, 1.5rem);
        padding: .1em .1em;
        color: var(--clr-header);
        border-bottom: none;
    }

    nav li:nth-of-type(1) a {
        border-top: none;
    }
}

@media screen and (width >= 70em) {
    .navbar {
        max-width: 70em;
    }

    .container {
        max-width: 70em;
    }
}
