.padding-1-inline {
    padding-inline: var(--size-1);
}

.padding-2-block {
    padding-block: var(--size-2);
}

.padding-3-block {
    padding-block: var(--size-3);
}

.center {
    text-align: center;
}