.padding-1-inline {
    padding-inline: var(--size-1);
}

.padding-2-inline {
    padding-inline: var(--size-2);
}

.padding-2-block {
    padding-block: var(--size-2);
}

.padding-3-block {
    padding-block: var(--size-3);
}

.center {
    text-align: center;
}

.input-error {
    border-color: var(--clr-danger) !important; 
}

.input-error::placeholder {
    color: var(--clr-danger) !important;
}

.red-border {
    border-color: var(--clr-danger) !important; 
}

.red-text {
    color: var(--clr-danger);
}

.background-red {
    background-color: var(--clr-danger);
}